<h1>Lista de Productos</h1>

<div class="dashboard">
  {{#each products}}
    <div class="product-card" data-id="{{this.id}}">
      <div class="product-image-container">
        <img class="product-image" src="{{this.thumbnail}}" alt="{{this.title}}">
      </div>
      <h2 class="product-title">{{this.title}}</h2>
      <h3 class="product-price">Precio: ${{this.price}}</h3>
      <button class="delete-btn" data-id="{{this.id}}">Eliminar</button>
    </div>
  {{/each}}
</div>
